html {
    text-align: center;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display';
}

.container {
    background-color: white;
    max-width: 450px;
    min-width: none;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
}

.hero {
    border-radius: 15px 15px 0px 0px;
}

.des {
    color: #8491A3;
    line-height-step: 1.6;
}

.summary {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    background-color: hsl(225, 100%, 98%);
    width: 75%;
    height: 50x;
    margin: 0 auto;
    border-radius: 15px;
    margin-bottom: 10px;
}

.music {
    padding-top: 20px;
}

.change {
    padding-top: 50px;
}

h2 {
    text-align: left;
}

a {
    margin-top: 30px;
}

#payment {
    color: white;
    background-color: hsl(245, 75%, 52%);
    font-family: inherit;
    font-weight: 700;
    height: 45px;
    padding: 1rem 7rem;
    margin: 0 auto;
    border-radius: 10px;
    border-style: none;
    box-shadow: 2px 4px 20px 1px #b8c5d6;
    cursor: pointer;
}

#payment:hover {
    background-color: #9792E3;
    transition: background-color 1s;
}

#cancel {
    color: #51547B;
    background-color: transparent;
    font-family: inherit;
    font-weight: 700;
    border-style: none;
    height: 50px;
    margin: auto;
    margin-top: 15px;
    cursor: pointer;
    margin-bottom: 20px;
}
